page-info {
    .img-devs {
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
    .dev-info {
        padding-bottom: 1.5%;
    }
}

#devs-img-contact {
    padding-top: 1%;
}

.buttons-social-media {
    display: inline-block;
}